{% extends "base.html" %}
{% load static %}

{% block title %}Report :: {% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock extra_css %}

{% block content %}
  <div id="reportFormDiv" class="">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  </div>
  <div id="reportResult" class="card shadow mb-4 d-none">
    <div class="card-header py-2">
      <h6 class="mt-2 text-lg font-weight-bold text-primary float-left"><span class="reportName"></span> Report <span class="reportDuration text-gray-500"></span> <button id="reportDurationBtn" class="btn btn-outline-secondary btn-sm">Change</button> </h6>
      <button id="reportEmail"
              class="btn btn-sm btn-dark btn-icon-split float-right mr-2"
              data-toggle="modal"
              data-target="#enquiryModal">
        <span class="icon text-white-50">
          <i class="fa fa-at"></i>
        </span>
        <span class="text">Email</span>
      </button>
      <a id="reportPDF"
              class="btn btn-sm btn-primary btn-icon-split float-right mr-2"
              href="#">
        <span class="icon text-white-50">
          <i class="fa fa-file-pdf"></i>
        </span>
        <span class="text">PDF</span>
      </a>
      <a id="reportCSV"
              class="btn btn-sm btn-primary btn-icon-split float-right mr-2"

          href="#">
        <span class="icon text-white-50">
          <i class="fa fa-file-csv"></i>
        </span>
        <span class="text">CSV</span>
      </a>
    </div>
      <div class="card-body">
        <div class="table-responsive">

        <div id="reportDivOTA" class="d-none">
            {% include "snippets/ota_table.html" with tableID='dataTableOTA' %}
        </div>

        <div id="reportDivPARTNER" class="d-none">
            {% include "snippets/partner_table.html" with tableID='dataTablePARTNER' %}
        </div>

        <div id="reportDivREVIEW" class="d-none">
            {% include "snippets/review_table.html" with tableID='dataTableREVIEW' %}
        </div>

        </div>
      </div>
  </div>
  <div id="reportError" class="d-none"></div>
{% endblock content %}

{% block extra_script %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>

    const pdfID = "#reportPDF";
    const csvID = "#reportCSV";

    // Variable to set the reportResultDiv to previous state
    const reportDivClone = $("#reportResult").clone();

    const reportFormDiv = "#reportFormDiv";
    const reportResultDiv = "#reportResult";
    const reportErrorDiv = "#reportError";

    let reportTableID = {
        "OTA": "#dataTableOTA",
        "PARTNER": "#dataTablePARTNER",
        "REVIEW": "#dataTableREVIEW",
    };

    let reportTableDiv = {
        "OTA": "#reportDivOTA",
        "PARTNER": "#reportDivPARTNER",
        "REVIEW": "#reportDivREVIEW",
    };

    const otaCol = [
                {"data": "id"},
                {"data": "name"},
                {"data": "registration"},
                {"data": "contact_person"},
                {"data": "contact_name"},
                {"data": "contact_email"},
            ];
    const partnerCol = [
                        {"data": "id"},
                        {"data": "name"},
                        {"data": "partner_type"},
                        {"data": "contact_person"},
                        {"data": "contact_name"},
                        {"data": "contact_email"},
                    ];
    const reviewCol = [
                        {"data": "id"},
                        {"data": "headline"},
                        {"data": "source"},
                        {"data": "created"},
                        {"data": "rating"},
                        {"data": "action"},
                    ];

    let columns = {
        "OTA": otaCol,
        "PARTNER": partnerCol,
        "REVIEW": reviewCol,
    };

    $(document).ready(function() {

        let table = null;

        let reportGetURL = "{% url 'api_report' %}";

        function buildTable(data, tableID, column) {
            table = $(tableID).dataTable({
                "aaData": data,
                "aaSorting": [],    // disable the initial sorting
                "columns": column,
                "order": [[0, "desc"]],
                "columnDefs": [
                    {

                        "targets": 1,
                        "render": function(data, type, row) {
                            let rowID = row["id"];

                            return `<a href="${rowID}/">${data}</a>`
                        },
                    },

                    {
                        "targets": [0],
                        "visible": false,
                        "search": false,
                    },
                ]
            });

            return table
        }

        $("form").submit(function(e) {
            e.preventDefault();
            console.log("report requested");
            const this_ = $(this);

            $.ajax({
                url: address.origin + reportGetURL,
                method: "GET",
                dataType: "json",
                data: this_.serialize(),
                success: function(data) {
                    table = buildTable(data.data,
                               reportTableID[data.enquiry_type],
                               columns[data.enquiry_type]);

                    $(reportFormDiv).addClass("d-none");
                    $(".reportName").text(data.enquiry_type);
                    $(pdfID).attr("href", data.pdf_url);
                    $(csvID).attr("href", data.csv_url);
                    $(".reportDuration").text(`[${data.start_date} to ${data.end_date}]`);
                    $(reportResultDiv).removeClass("d-none");
                    $(reportTableDiv[data.enquiry_type]).removeClass("d-none")
                },
                error: function(err) {
                    console.log(err);
                }
            })
        });


        function reset() {
            console.log("entereed reset");
            $(reportResultDiv).replaceWith(reportDivClone.clone());
            $(reportFormDiv).removeClass("d-none")
        }

        $(document.body).on("click", "#reportDurationBtn", function(e) {
            console.log("reset clicked");
            reset();
        });

    });
    </script>
{% endblock extra_script %}
