{% extends "base.html" %}

{% block title %}{{ object.name }} :: {% endblock title %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-header">
        <span class="text-dark">Headline:</span> <span class="text-dark text-lg font-weight-bold">{{ object.headline }}</span>
      </div>
      <div class="card-body text-dark">
        Source: <span class="text-lg"> {{ object.source }}<br></span>
        Created: <span class="text-lg"> {{ object.created }}<br></span>
        Rating: <span class="text-lg"> {{ object.get_rating_display }}<br></span>
        Description: <span class="text-lg"> {{ object.description}}<br></span>
        Action: <span class="text-lg"> {{ object.action }}<br></span>
      </div>
    </div>
      <div id="enquiryEdit" class="mt-3">
        <div class="mb-3">
          <button class="btn btn-success mr-auto" data-toggle="collapse" data-target="#enquiryUpdate" >Update</button>
          <button class="btn btn-danger ml-2" data-toggle="collapse" data-target="#enquiryDelete" >Delete</button>
        </div>
      <div id="enquiryUpdate" class="collapse" data-parent="#enquiryEdit">
        <form class="form" method="post" enctype="multipart/form-data">
          <div class="row font-weight-bold">
            {% csrf_token %}
              <div class="col-12">
                <div class="form-group mb-0 mt-n2">
                  <label for="id_name" class="col-form-label text-dark font-weight-bold">Headline:</label>
                  {{ form.headline }}
                </div>
              </div>
              <div class="col-6">
                <div class="form-group mb-0">
                  <label for="id_contact_person" class="col-form-label text-dark font-weight-bold">Source:</label>
                  {{ form.source }}
                </div>
              </div>

            <div class="col-12">
               <label for="id_contact_email" class="col-form-label text-dark font-weight-bold">Rating:</label>
                {{ form.rating }}
            </div>
            <div class="col-12">
               <label for="id_contact_email" class="col-form-label text-dark font-weight-bold">Action:</label>
                {{ form.action }}
            </div>
          </div>

            <button class="btn btn-success mt-3" type="submit">Save Changes</button>
        </form>
      </div>

      <div id="enquiryDelete" class="collapse" data-parent="#enquiryEdit">
        <form method="post" action="{% url 'enquiry:review_delete' object.id %}">
          {% csrf_token %}
          Sure to delete this OTA?
          <button class="btn btn-danger ml-2">Yes! Delete</button>
        </form>
      </div>
      </div>

      </div>

{% endblock content %}
